/* Color Palette 
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Gloabal styles
--------------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h2 {
    font-size:40px;
    margin-top: 0;
}
h1 {
    font-size:80px;
}
h3 {
    margin: 0;
}
a {
    color:#EF233C;
}
a:hover {
    text-decoration: none; 
}
.content-wrap {
    max-width: 950px; 
    margin: 0 auto;
    padding:60px 50px;
    overflow:hidden;
}
.col-narrow {
    width: 35%;
    height:35%;
    float: left;
    min-height:175px;
}
.col-wide {
    width:65%;
    float:left;
    padding-left: 20px;
    min-height:175px;
}
.uppercase {
    text-transform:uppercase; 
}
.btn {
    background-color:#EF233C;
    text-decoration:none;
    color:white;
    padding: 10px;
    display: inline-block;
}

/* Header and footer
--------------------------*/

header, footer {
    background:#2B2D42;
    color:#8D99AE;
}
/*header*/
header {
    padding-top: 50px;
    position: relative;
}
header h1,header h2 {
    color:#EDF2F4;
    margin: 0;
}

.profile-img {
   
    border-radius:50%;
   
}
.download {
    position: absolute; 
    bottom: 0;
    right: 0;
}

/*footer*/
footer {
    
text-align:center;
}

.contact-info a {
    padding:10px;
    display: inline-block;
}


/* Navigation
--------------------------*/
nav {
    text-align:center;
    background:white;
    position:fixed;
    top:0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:700;
}
/*skills*/
.skills {
    background: linear-gradient(rgba(141, 153, 174, 0.8),
                 rgba(141, 153, 174, 0.5)),
                 url(../images/memorial.jpg) no-repeat fixed;
    background-size:cover;
    color:white;
}
.skills h2 {
    margin-left:3%;
    color:black;
}

.content-wrap #left {
    float:left;
    margin-left:0;
    width:49%;
   
}
.content-wrap #right {
    float:left;
    width:49%;
    
}
#left li {
    margin:4%;
    font-weight:600;
    
}
#right li {
    margin:4%;
    font-weight:600;
}

/* Work expirience
--------------------------*/
.work {
    background:#EDF2F4;
}
h3 ~ p{
    margin:0;
}
.job-description {
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin-top: 0;
}


/* Education
--------------------------*/
.education{
   
    background: linear-gradient(rgba(141, 153, 174, 0.8),
                 rgba(141, 153, 174, 0.5)),
                 url(../images/DC.jpg) no-repeat fixed;
    background-size:cover;
}
p + h3 {
    margin-top:30px;
}
/*Media queries 
---------------------*/
@media (max-width:896px) {
   
    .content-wrap {
        width:100%;
        text-align:center;
    }
    #description {
        padding-top:100px;
    }
    .content-wrap img {
        margin-left:35%;
        width:30%;
        margin-top:5%;
        margin-bottom:-3%;
    }
    
    .col-narrow {
    width: 100%;
    text-align:center;
}
.col-wide {
    width:100%;
    text-align:center;
    margin-top:-12%;
    }  
    #work-header {
        text-align:center;
    }
}
@media (max-width: 543px) {
      
    .content-wrap img {
        margin-left:25%;
        width:60%;
        margin-top:30%;
        margin-bottom:-10%;
    }
}
@media (min-width: 672px) {
    header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
       
    }
}
